button:focus,
button:hover,
button:active {
	outline-style: none;
}

button:hover {
	transform: scale(1.125);
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-style: 62.5%;
}

h1.header-h1 {
	font-family: "Monoton", cursive;
	font-size: 5.2rem;
}

button.header-button {
	border-radius: 2rem;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 0.6rem 0;
	transition: 0.3s;
	width: 10rem;
}

p.header-p {
	font-weight: 400;
	font-size: 2rem;
}

/* #pin {
	animation: pin 0.8s ease-in infinite alternate;
	transform-origin: initial;
}

#shadow {
	animation: shadow 0.8s ease-in infinite alternate;
	transform-origin: initial;
}

@keyframes pin {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(2%);
	}
}

@keyframes shadow {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-2%);
	}
} */
